.wrapper {
    height: 100vh;
    width: 100%;
    background-color: papayawhip;
    display: flex;
}

.sidebar {
    flex: 0 240px;
    background-color: #4682b4;
}
.side-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    padding: 10px 16px;
    cursor: pointer;
}

.menu-item a {
    color: #ffffff;
    text-decoration: none;
}

.menu-item.active {
    background-color: #7491a9;
    border-right: 4px solid red;
}

.menu-item:hover {
    background-color: #7491a9;
    transition: all 300ms ease-out;
}

.brand {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    background-color: transparent;
    color: #ffffff;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.header {
    padding: 16px;
    background-color: thistle;
}